nav{
	background-color: #0175d8;
	color: white;
	padding: 15px 20px;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
button{
	padding: 10px;
	background-color: #2bb55f;
	border: none;
	border-radius: 3px;
	color: white;
}